.ws-white-card{
    border: solid 0.5px rgb(0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: black;
    width: 14rem;
    height: 46rem;
    border-radius: 3px;
    padding: 40px 0px;
}

.ws-white-card ul{
    padding-left: 0;
}

.ws-white-card li{
    list-style-type: none;
    margin-bottom: 10px;
    padding: 8px 0px;
    padding-left: 40px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

.activeli, .ws-white-card li:hover{
    background: rgb(255,208,208);
    background: linear-gradient(90deg, rgb(170, 131, 131) 8%, rgb(130, 105, 105) 52%, rgb(44, 40, 40) 90%);
    //color: rgb(10, 0, 0) !important;
}

.ws-white-card img{
    margin-top: -2.5px;
    margin-right: 10px;
    height: 15px;
}

.ws-black-card{
    border: solid 1px black;
    width: 62.2rem;
      height:21rem;
    
    border-radius: 5px;
    background-image: url(../../assets/workspace-imgs.png);
    background-position: center;
    background-size: 100%;
    padding: 2.5rem 2.5rem;
    // float: right;
    margin-bottom: 20px;
}

.ws-bc-name{
    font-family: "Verdana";
    font-weight:bolder;
    color: #ffffff;
    font-size: 45px;
}

.ws-bc-name img{
    height: 35px;
    vertical-align: middle;
}

.ws-bc-head{
    font-family: "Verdana";
    font-weight: '1000';
    color: #D9D9D9;
    font-size: 25px;
}

.ws-grid-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 62rem;
    height: 23.8rem;
    max-height:23.8rem;
    border-radius: 5px;
    background-color: #f4f4f6;
    padding: 1.5rem 1rem;
    // float: right;
    overflow: hidden;
}

.ag-theme-alpine {
    --ag-grid-size: 2px !important;
    --ag-list-item-height: 0px !important;
    --ag-header-background-color: #F4F6FB;
    --ag-header-foreground-color: #000000;
    --ag-background-color: #F4F6FB;
    --ag-odd-row-background-color: #F4F6FB;
    --ag-foreground-color: rgb(0, 0, 0);
    --ag-borders: none;
    --ag-font-size: 13px;
    --ag-line-height: 20px
  }

.gridhead{
    margin-left: 10px;
    width: max-content;
    font-weight: 500;
    // font-family: "Verdana";
    padding: 0px 10px 5px 10px;
    border-bottom: solid 3px #DB2423;
}

.tooltipp {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltipp .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(255, 255, 255, 0.798);
    color: #000000;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -65px;
  }
  
  .tooltipp .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
  }
  
  .tooltipp:hover .tooltiptext {
    visibility: visible;
  }

