// main body
.car-subs {
    margin-left: 62px;
    margin-right: 63px;
    background-color: rgb(255, 255, 255);
    padding-top: 0rem;
    padding-bottom: 4rem;
}

// Mid Section
.car-subs-header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    p {
        font-family: "Verdana";
        font-weight: bold;
        font-size: 17px;
        color: black;
    }

    img {
        max-width: 1rem;
        max-height: 1rem;
        margin-top: 0.3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.cardangle{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.topdrop{
    label{
        font-family: Verdana;
        font-size: 14px;
        margin-right: 10px;
    }

    select{
        width: 16rem;
    }
}

.left-section{
    margin-top: 1.4rem;
    width: 56vw;
    border-radius: 6px;
    //background: rgba(245, 245, 245, 0.24);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: fit-content;
}

.rc-header {
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;

    i {
        float: right;
        margin-top: 2px;
    }
}

.redbtn {
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    margin-right: 10px;
    border: solid 6px #ffffff;
}

.coloraccessories {
    display: flex;
    gap: 30%;
}

.bodyclass {
    display: flex;
    gap: 2%;
}

.stanAdv{
    width: 4.5rem
}

.rightcard {
    min-width: 32.5vw;
    max-width: 32.5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    padding: 1.5rem;
    font-family: "Verdana";
    color: black;
    height: 47.7rem;
    overflow-y: scroll;
    overflow-x: scroll;
    overflow-x: scroll;
    margin: 1.4rem 0rem;
}

.rightcard hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.radiobtn {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.rightcard-radio {
    display: flex;
    gap: 10%;
}

.dwn{

}

.rightcard::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}

.rightcard::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
}

.rightcard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0381BA;
}

.form-check {
    transform: scale(1.1);
    accent-color: #0381BA;
}

.radio-body {
    margin-left: 5px;

    .form-check-label {
        font-size: 12px;
        font-family: Verdana;
        font-weight: 700;
        // min-width: 68px;
    }
}

.jointBusi{
    display: flex;
    justify-content: space-between;
}

.radio-body{
    .leasehire input {
        height: 15px;
        width: 15px;
        vertical-align: middle;
        margin-right: 10px;
    }

}



.form-check-input:checked {
    accent-color: #0381BA;
    background-color: #0381BA;
    color: #0381BA;
}

.fields {
    margin-top: 12px;

    span{
        height: 20px; 
        padding: 5px 8px;
        font-size: 13px;
    font-weight: bold;
        margin: 0; 
        vertical-align: baseline;
        height: 1.75rem;
        margin-top: 10px;
    }
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.fields p {
    min-width: 170px;
    font-size: 13.5px;
    font-weight: 500;
    margin-top: 15px;
}

.downpayment input, .downpayment select{
    font-size: 13px;
    background-color: rgb(252, 250, 250);
}

.fields input, .downpayment input, .downpayment select, .ballon input {
    height: 1.75rem;
    margin-top: 10px;
    padding: 0 10px;
    width: 12rem;
    border: solid 1px rgb(211, 206, 206);
    border-radius: 4px !important;
    font-size: 13px;
    font-weight: bold;
}

.ballon {
    input{
    width: 10rem !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;}

    span{
        height: 1.75rem;
        margin-top: 10px;
    }
}


.subhead {
    font-size: 17px;
    font-weight: bold;
    margin-top: 25px;
}

.non-dollar input{
    min-width: 13.5rem;
    border-radius: 4px !important;
}

.downpayment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;

    .subhead{
        font-size: 13px;
        min-width: 12rem;
        max-width: 12rem;
    }
}
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group-plus {
  clear: both;
  margin: 0px 0;
  position: relative;
  margin-left: 12rem;
//   width: -rem;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}


#basic-{
    background-color: #eeeeee;
    
  
    text-align: center;
    height: 28px;
    margin-top: 2.2%;
    margin-right: -22%;
    border-radius: 5px 0px 0px 5px;
    padding-left: 1.5%;
    
}

.input-group-text{
    padding-left: -1% !important;
}

.input-group{
    width: auto !important;
}


.numbers {
    display: flex;
    gap: 0.6rem;
}

.numbers input {
    height: 58px;
    min-width: 65px;
    background-color: rgb(239, 233, 233);
    border: solid 2px rgb(156, 151, 151);
    color: black;
    font-weight: 800;
}

.numbtn:hover {
    border: solid 2px #0381BA;
}


.bs4-order-tracking {
    padding-left: 0px;
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 33.3%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    line-height: 29px;
    text-align: center;
    display: block;
    font-size: 12px;
    background: linear-gradient(#bdbdbd, #F0F0F0);
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li::after {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(#CDCDCD, #F0F0F0);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10px;
    z-index: -1
}

.perAm {
    margin-top: 20px;

    p {
        font-size: 14px;
        margin-right: 15px;
        padding-top: 2px;
    }
}


.bs4-order-tracking li:first-child:after {
    width: 50%;
    left: 50%
}

.bs4-order-tracking li:last-child:after {
    width: 50% !important;
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: #dc3545
}

.bs4-order-tracking li.active:after {
    background: #dc3545
}

.bs4-order-tracking li.finished:after {
    background: #027e00
}

.card-timeline {
    background-color: #fff;
    z-index: 0
}

.small-card {
    border-radius: 5px;
    height: 120px;
    width: 250px;
    background-color: rgb(177, 177, 177);
}

.small-card img {
    height: 100%;
    overflow: hidden;
    display: inline;
    border-radius: 10px;
}

.rangerr,
.amountt {
    height: 26px;
    border-radius: 1px;
    border: solid 1px rgb(226, 222, 222);
    background-color: #f3f3f3;
    width: 75px;
    padding: 0 10px;
    text-align: center;
    font-size: 15px;

    .b {
        color: #000000;
    }
}

.amountt {
    width: 120px;
}

.rangerinp {
    height: 22px;
    padding: 0;
    font-size: 2px;

}

.rangerinp:focus {
    border: none;

}

datalist {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 100%;

}

datalist option {
    font-size: 11px;
    font-weight: bold;
}

.checkbtn {
    width: 150px;
    height: 40px;
    font-size: 12px;
    background-color: #F3F3F3;
    border: solid 1px rgb(189, 183, 183);
    color: #9f9f9f;
    font-family: "Verdana";
    font-size: 13px;
    font-weight: bold;
}

.buybtn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px rgb(189, 183, 183);
    font-size: 13px;
    font-weight: bold;
    font-family: "Verdana";
    background-color: #F3F3F3;
    margin-bottom: -10px;
    color: #000000;
}

//==================================================================================================

.car-images{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.car-main-img {
    border: none;
}

.car-main-img img {
    width: auto;
    max-width: 32.4rem;
    height: 47vh;
    flex-shrink: 0;
    border-radius: 5px;
    // border: none;
}

.car-etc-img-div img {
    height: 8.8rem;
    // width: auto;
    max-width: 15rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.car-details h2 {
    color: #000;
    // text-align: center;
    font-family: Verdana;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 48px */
}

.car-details p {
    color: #000;
    font-family: Verdana;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135.9%;
    letter-spacing: 0.24px;
}

.radio-btn-group label {
    color: #000;
    font-family: Verdana;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 560;
    line-height: 135.9%;
    letter-spacing: 0.22px;
}

#specifyColor {
    border: 0px;
    width: 1.3rem;
    // height: 2em;
    accent-color: #0381BA;
}

.checked-radio {
    margin-left: 1.9rem !important;
}

.left-card {
    //border-radius: 6px;
    //background: rgba(245, 245, 245, 0.24);
    //box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.22);
}

.exclamation-icon {
    width: 1rem;
    margin-top: 3px;
    height: 1rem;
}

.label-des {
    color: #000;
    font-family: Verdana;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 3px;
    line-height: normal;
}

.milegae-cc img {
    margin-left: 1rem;
}

.mileage-text1 span {
    margin-left: 2rem;
}

.mileage-text2 span {
    margin-left: 4.5rem;
}

.mileage-text3 span {
    margin-left: 2.4rem !important;
}

.mileage-text3 img {
    margin-left: 0.85rem;
}

.left-card-right-side h2 {
    color: #000;
    // text-align: center;
    font-family: Verdana;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.color-div p {
    color: #0F0F0F;
    font-family: Verdana;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 560;
    line-height: 24px;
    /* 100% */
}

.dot {
    height: 25px;
    width: 25px;
    // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 0.2rem solid white;
    // gap: 2;
    // margin-left: 2rem;
}
.downloadbtn{
    height: 1.5rem;
    // justify-content: end;
    margin-left: 11rem;
}
.emailbtn{
    height: 1.4rem;
    // justify-content: end;
    margin-left: 19rem;
    // margin-top: -1rem;
}
.accessories {
    color: #0F0F0F !important;
    font-family: Verdana !important;
    font-size: 1.2rem !important;
    font-style: normal !important;
    font-weight: 660 !important;
    line-height: 24px !important;
    /* 100% */
}

.accessories span {
    color: #0F0F0F;
    font-family: Verdana;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.speedometer {
    margin-right: 1rem;
    height: 2.4rem;
    width: auto;
}

#engine {
    margin-right: 1rem;
    height: 2rem;
    width: auto;
}

.colorWhite {
    background-color: #ffffff;

}

.colorBlack {
    background-color: #f8a10b !important;
}

.colorOrange{
    background-color: #f8660b !important;
}

.colorBlue {
    background-color: #004f8f !important;
}

.colorGrey {
    background-color: #9f9f9f;
}

.select-variant {
    align-items: baseline;
}

.select-variant i {
    margin-left: 1rem;
}

.select-variant:hover {
    cursor: pointer;
}

.select-size input {
    display: none;
}

.option-text {
    display: inline-block;
    min-width: 60px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 50px;
    cursor: pointer;
    color: #000;
    font-family: Verdana;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    border: 1px solid #000;
}
.fa-envelope{
    margin-right: 1rem;
}
.fa-download{
    margin-right: 1rem;

}
.fa-print{
    margin-right: 1rem;

}

#small:checked~.option-text[for="small"],
#medium:checked~.option-text[for="medium"],
#large:checked~.option-text[for="large"],
#x-large:checked~.option-text[for="x-large"],
#xx-large:checked~.option-text[for="xx-large"],
#xtra-large:checked~.option-text[for="xtra-large"] {
    background: #0381BA0A;
    color: #000000;
    border: 1px solid #0381BA;
}

.option-text p {
    margin-top: 0.9rem;
}

.select-var-div {
    font-family: Verdana;
    font-weight: 500;
    font-size: 0.95rem;
    margin-left: -2rem;
}

.info{
    display: none;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 0.6rem;
}
.icon:hover ~ .info{
    display: block;
    position: relative;
    position: absolute;
    margin-left: 3rem;
    background-color: #a9ddf5;
    // padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.4rem;
}

.buyback-toggle{
    border: 1px solid #0381BA     !important;
    box-shadow:none !important;

}

// Qoute Summary

.qoute-fields{
    margin-top: 12px;
}

.qoute-fields label{
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
}

.qoute-leasehire input {
    height: 13px;
    width: 13px;
    vertical-align:bottom;
    // margin-right: 5px;
    // margin-left: 12px;
}

.qoute-card{
    padding: 5px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
    // background-color: #B7C301;
}


.qoute-radio-body {
    // margin-left: 5px;
    display: flex;

    .form-check-label {
        font-family: Verdana;
        font-size: 13px;
        font-weight: 500;
        // min-width: 68px;
    }

    .form-check-inline{
        margin-right: 5px;
    }
}

.form-checkbox {
    accent-color: #0381BA;
}

.qoute-head2{
    color: #0381BA;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #0380ba11;

    label{
        margin: 10px 10px;
        font-size: 12.5px;
        font-weight: bold;
    }
}

.qoute-head1{
    color: #0381BA;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 5px;

    label{
        font-size: 15px;
        font-family: Verdana;
        cursor: pointer;
        font-weight: 600;
    }
}

.qoute-radio-body1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    input{
        vertical-align: bottom;
        margin-right: 10px;
        transform: scale(1.1);
        // margin-left: -15px;
    }



    label{
        font-family: Verdana;
        font-size: 12px;
    }

    p{
        font-family: Verdana;
        font-size: 14px;
        padding: 0;
    }

    .qoute-num{
        font-family: Verdana;
        font-size: 14px;
    }
}

// .qoute-radio-body1 input:disabled{
//     background-color: #0381BA !important;
// }

// input[type="checkbox" i]:disabled {
//     background-color: red;
// }

.head2-body{
    justify-content: space-between;
    display: flex;
    margin: 4px 0;
}

// input[type="checkbox"]:disabled {
//     background-color: red;
// }


.iconss:hover ~ .info{
    display: block;
    position: relative;
    position: absolute;
    margin-left: 0rem;
    background-color: #a9ddf5;
    // padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.4rem;
}


// footer
.car-subs-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(141, 140, 140);
    height: 60px;
    z-index: 7;
    background-color: #ffffff;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
}

.redtxt {
    color: grey;
    font-weight: 500;
    padding-right: 20px;
}

.price {
    color: #000000;
    font-weight: bold;
    padding-right: 20px;
    padding-right: 20px;
}

.cs-footer-com {
    display: flex;
    align-items: baseline;
    font-family: "Verdana";
}

.applybtn {
    color: #DB2423;
    font-family: "Verdana";
    font-weight: 700;
    height: 40px;
    font-size: 15px;
    background-color: #ffffff;
    width: 11rem;
}

.roadprice {
    width: 10rem;
    //color: #DB2423;
    color :#000000;
    font-family: "Verdana";
    font-weight: 600;
    height: 40px;
    font-size: 15px;
    margin-right: 15px;
    background-color: #B7C301; //#ffffff;
    width: 8rem;
}

:host ::ng-deep .ag-header-cell{
    padding-left: 10px;
    padding-right: 10px;
}

