.car-collec-main {
  background-color: #f5f5f5;
  padding: 3% 6%;
  color: black;
}

.home-card-sec {
  display: flex;
  gap: 1%;
}

.car-collec-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 50px 0;
}

.lc-top-card {
  width: 100%;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  text-align: center;
  font-family: Verdana;
  font-weight: 600;
  
  // background-image: url("../../../assets/Rectangle 85.png");
  background-size: cover;
  background-repeat: no-repeat;
  // height: 11rem;
  color: rgb(0, 0, 0);
}

.input-fields {
  padding-left: 1rem;
  // padding-top: 1rem;
  // display: flex;
  font-family: Verdana;
}

.fields-align {
  display: flex;
  margin-bottom: 1rem;
  width: 19rem;
  justify-content: space-between;
  color: #000;
 
  font-size: 16px;
  // font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;

  p{
    font-family: "Verdana" !important;
  }
}

.fields-align input {
  width: 9rem;
  // margin-left: 3rem;
  border-radius: 6px;
  border: 1px solid rgba(217, 217, 217, 0.87);
  height: 2rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.fields-align p {
  font-family: Verdana;
  font-size: 0.9rem;
  font-weight: 500;
  margin: auto 0;
  
}

.lc-top-card {
  padding-left: 1rem;
  padding-top: 1rem;
}

.lc-top-card p {
  // padding-bottom: 0 !important;
  margin-bottom: -0.3rem !important;
  padding-bottom: 0.5rem;
}

.discount-text,
.week-deals-text {
  font-family: Verdana;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
}

.get-new-car {
  font-family: Verdana;
  font-size: 0.9rem;
  width: 10rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: -0.02em;
  text-align: left;
}

.see-details {
  height: 2rem;
  width: 9rem;
  //   padding-top: 1rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  font-family: Verdana;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
}

.car-collec-nav button {
  font-weight: bold;
  border: solid black 1px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 0px 20px;
  font-size: 15px;
  // width: 150px;
}

.car-collec-nav button:hover{
  background-color: #000;
  color: white;
}

.long-card {
  max-width: 500px;
  background-color: white;
  border: solid rgb(190, 183, 183) 1px;
  border-radius: 1rem;
  padding: 0rem;
  padding-bottom: 20px;
  font-family: Verdana;
  width: 20.5rem;
  margin-left: -1rem;
}



.lc-head {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.6rem;
}

.lc-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 3%;
}

.lc-buttons button {
  height: 3%;
  background-color: #0381BA;
  color: white;
  font-size: 12px;
  padding: 2 0px;
  flex: auto;
  // margin-bottom: 5px;
  max-width: 35%;
  // overflow: auto;
  // align-items: stretch;
}

.lc-smallest {
  font-size: 10px;
  font-weight: bolder;
  color: black;
}

.lc-sub-head {
  font-weight: bold;
  font-size: 13px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.lc-sub-head i {
  font-size: 15px;
  width: auto;
  margin-top: 2px;
  float: right;
}

.fields p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 130px;
  vertical-align: middle;
}

.fields input {
  height: 1.8rem;
  margin-top: 6px;
  vertical-align: middle;
  border-radius: 5px;
  flex: 1;
  border: solid rgb(194, 194, 194) 1px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
}

.lc-subcan button {
  flex: auto;
  font-size: 13px;
  margin: 30px 0;
}

.collec-cards {
  flex: 1;
  display: grid;
  height: fit-content;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.car-card {
  background-color: white;
  border-radius: 10px;
  padding: 0.3rem;
  max-width: 340px;
  border: solid 1px rgb(193, 193, 193);
}

.car-card:hover {
  border: solid 2.5px #0381BA;
}

.car-img{
  max-width: 330px;
  min-height: 200px;
}

.car-card button:hover{
  background-color: #B7C301;
  color:black;
}

.car-card img {
  width: 100%;
  // height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.smallblock {
  display: flex;
  background-color: rgb(247 245 245);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 11px;
  font-family: Verdana;
  gap: 5%;
}

.smallsubblock {
  flex: auto;

  p{
    
  }
}

.smallsubblock p {
  margin-bottom: 0;
}

.car-type-btn {
  // width: 4rem !important;
  height: 3rem;
  text-align: center;
  border-radius: 5rem !important;
  font-weight: 600 !important;
}

.car-type-btn:hover {
  background: black;
  color: white;
}

.card-top-text {
  display: flex;
  font-family: Verdana;
  font-size: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}

#specifyColor {
  accent-color: #0381BA;
}

input[type=radio]#Red {
  accent-color: #0381BA;
}

.loan-radio {
  margin-left: 1rem;
  margin-right: 0.4rem;
}

.card-top-text label {
  font-size: 0.8rem;
  // font-weight: 400;
}

.loan-years button {
  // margin-right: 0.7rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(217, 217, 217, 0.87);
  // font-size: 0.8rem;
  font-size: 0.8rem;
  height: 2rem;
  width: 2rem;
  align-items: center;
}

.calculate {
  border-radius: 6px;
  border: 1px solid #0381BA;
  background: #0381BA0A;
  color: #000;
  font-family: Verdana;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  width: 13rem;
}


.calculate-div {
  text-align-last: center;
}

.div-below-hr {
  color: #232738;
  font-family: Verdana;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  padding-left: 1rem;

}

.search-box {
  border-radius: 5px;
  border: 0.8px solid #D9D9D9;
  // background: #FFF;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.12);
  background-image: url('../../icons/search-outline 1.png');
  // background-position: 10px 10px; 
  background-repeat: no-repeat;
  // padding: 12px 20px 12px 40px;
}

.div-below-hr input {
  background-image: url('../../icons/search-outline 1.png');
  // background-image: url('search-outline 1.png');
  background-position: 10px 14px;
  background-repeat: no-repeat;
  padding-top: 1rem;
  width: 18.5rem;
  padding-left: 3rem;
  // height: 1rem;
  padding-bottom: 0.8rem;
  border-radius: 5px;
  border: 0.8px solid #D9D9D9;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.12);
  background-size: 1.5rem 1.5rem;
}

.select-filters {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  color: #232738;
  font-family: Verdana;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  // margin: auto 0;
}

.select-filters span {
  font-weight: 500;
}

.select-filters img{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
border: 0.8px solid rgba(0, 0, 0, 0.15);
}

.select-filters p{
  margin: auto 0;
}

.drop-menus{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  color: var(--gray-scale-gray-900, #1A1A1A);
// font-family: Verdana;
font-size: 0.9rem;
// font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
font-family: Verdana;
}

.drop-menu-options{
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  
}

#cap{
  font-family: Verdana;
}
.budget-range{
  padding-left: 1rem;
  padding-right: 1rem;
  color: #232738;
font-family: Verdana;
font-size: 0.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.3px;
margin-top: 1rem;
}

.budget-range input{
  width: 100%;
  background: #0381BA;
}

.mileage-div{
  padding-left: 1rem;
  color: #232738;
font-family: Verdana;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;
}

.div-end-btn{
  display: flex;
  // margin: auto;
  justify-content: space-around;
}

.btnn{
  height: 2rem;
  border-radius: 5px;
border: 1px solid #0381BA;
background: #FFF;
color: #0381BA;
text-align: center;
font-family: Verdana;
font-size: 0.8rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;

}

.btnn:hover{
  height: 2rem;
  border-radius: 5px;
border: 1px solid #B7C301;
background: #B7C301;
color: #000;
text-align: center;
font-family: Verdana;
font-size: 0.8rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.3px;
}

.show-res{
  width: 8rem;
}

.reset{
  width: 6rem;
}


.calculate{
  width: 10rem;
}