<div class="car-collec-main">
    <div class="car-collec-nav">
        <button class="active">Popular</button>
        <button>Large Truck</button>
        <button>Small Truck</button>
        <button>Exclusive Truck</button>
    </div>

    <div class="home-card-sec">
        <div class="collec-cards">
            <div *ngFor="let car of carDetails; let i = index">
                <div class="car-card" *ngIf="!allowCars(i)">
                    <input type="checkbox" class="checkbox" [checked]="isChecked[i]" id="checkbox">
                    <div class="car-img">
                        <img src={{car.imgUrl}}>
                    </div>
                    <div class="container">
                        <div class="cardhead">
                            <p>{{car.name}}</p>
                            <img (click)="turnRed()" src={{heartURL}}>
                        </div>
                        <h4 style="font-family: Verdana; font-weight:bold; color: #0381BA;"> {{car.price}}</h4>
                        <div class="smallblock">
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/engine.png"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.speed}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/TorqueEngine.svg"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.gear}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/gas-station.png"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.capacity}}Gallons </p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/horsepower.svg"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.type}}</p>
                            </div>
                        </div>
                        <button (click)="buyNow(i, $event)" class="buybtn btn btn-white"
                            style="font-family: Verdana;">Add</button>
                    </div>
                </div>
                <div class="car-card" *ngIf="allowCars(i)">
                    <input type="checkbox" class="checkbox" [checked]="isChecked[i]" id="checkbox">
                    <div class="car-img">
                        <img src={{car.imgUrl}}>
                    </div>

                    <div class="container">
                        <div class="cardhead">
                            <p>{{car.name}}</p>
                            <img (click)="turnRed()" src={{heartURL}}>
                        </div>
                        <h4 style="font-family: Verdana; font-weight:bold; color: #0381BA;">$ {{car.price}}</h4>
                        <div class="smallblock">
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/engine.png"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.speed}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/TorqueEngine.svg"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.gear}}</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/gas-station.png"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.capacity}} Gallons</p>
                            </div>
                            <div class="smallsubblock text-center">
                                <img src="../../../assets/horsepower.svg"
                                    style="height: 15px; width: auto; margin-bottom: 0;">
                                <p>{{car.type}}</p>
                            </div>
                        </div>
                        <button (click)="buyNow(i, $event)" class="buybtn btn btn-white"
                            style="font-family: Verdana;">Add</button>
                        <!-- <button class="buybtn btn btn-white" (click)="">Buy Now</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="cartt">
                <span class="count">{{ cartCount }}</span>
                <!-- <img (click)=redirecttocarsubs() src="https://images.vexels.com/media/users/3/333883/isolated/preview/48e7bfb7583f0ad6c6121835c5c510f1-kids-toy-truck-icon.png" style="width: 60px;"> -->
                <i (click)=redirecttocarsubs() class="fa-solid fa-truck" style="color: #ffffff;"></i>
                <!-- <i (click)=redirecttocarsubs() class="material-icons">shopping_cart</i> -->
            </div>