.success-alert {
    text-align: center;
    padding: 20px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .success-alert i {
    margin-bottom: 10px;
    font-size: 48px;
  }
  
  .success-alert-popup {
    width: 250px;
    margin: 0 auto;
  }
  