<!-- <div class="vh-100 bg-image" id="background" style="background-image: url('../../assets/images/background.png');   ">

 

</div> -->

<div class="mainclass w-full">
  <!-- <img src="../../assets/images/background.png"> -->
  <div class="childclass1">
    <img class="logoimg"
      src="../../assets/Aurionpro.png" style="height: 7rem;">
    <div class="subchild1">
      <h1>Building the Future...</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="slider">
        <img src="../../assets/login_image/carousel-slider.svg">
      </div>
    </div>
  </div>
  <div class="childclass2 ">
    <h1><b style="font-family: 'Verdana';">New Password</b></h1>
    <form >
      <div class="form-group">

        <div class="form-group container1">
          <div class="did-floating-label-content label-input">
            <input class="did-floating-input " formControlName="email" type="password" placeholder="************">
            <label class="did-floating-label" style="font-size: -0.3rem;">Enter New Password</label>
          </div>  
  
          <div class="did-floating-label-content label-input">
            <input class="did-floating-input" type="password" formControlName="password" placeholder="************">
            <label class="did-floating-label " style="font-size: -0.3rem;">Confirm New Password</label>
          </div>
        </div>
 

</div>

<button type="submit" (click)="onSubmit($event)" class="started btn" style="font-family: 'Verdana';">Confirm</button>
<div id="alertContainer" class="top-center-alert"></div>
</form>

  </div>

</div>

