<app-navbar-after-home-page [navtheme]="'blacktheme'"></app-navbar-after-home-page>
<div class="backgroundImage">
    <div class="One">
        <div>
            <h1 class="brandNameText">PACCAR</h1>
        </div>
       
    </div>
    <!-- <div class="find-more-button-main">
        <div class="rounded border border-white flex-column justify-content-start align-items-start findMoreFirstDiv">
            <div class="w-100 h-100 findMoreSecondDiv"></div>
            <div class="d-inline-flex justify-content-center align-items-center gap-2 pad-bot">
                <div class="text-white custom-font-size fs-5 fw-500">Find out more</div>
            </div>
        </div>
        <div class="fourDotsFirst">
            <div class="fourDotsSecond"></div>
            <div class="fourDotsThird"></div>
            <div class="fourDotsFourth"></div>
            <div class="fourDotsFifth"></div>
        </div>
    </div> -->

    <!-- <div class="find-more-button-main">
        <div class="rounded border border-white flex-column justify-content-start align-items-start findMoreFirstDiv">
            
            <button class="btn btn-danger find-more-btn "  style="border-radius: 7px; font-family: Verdana;"   >Find out more</button>
        </div>
        <div class="fourDotsFirst">
            <div class="fourDotsSecond"></div>
            <div class="fourDotsThird"></div>
            <div class="fourDotsFourth"></div>
            <div class="fourDotsFifth"></div>
        </div>
    </div> -->
    
</div>