<!-- <app-navbar [navtheme]="'whitetheme'"></app-navbar> -->
<!-- <app-navbar-after-home-page [navtheme]="'whitetheme'"></app-navbar-after-home-page> -->
<!-- <app-home-screen></app-home-screen> -->
<!-- <app-home-car-collec></app-home-car-collec> -->
<!-- <app-car-subs></app-car-subs> -->
<!-- <app-landingpage></app-landingpage> -->
<!-- <app-stepper></app-stepper> -->
<router-outlet></router-outlet>
<!-- <app-apply-now-pending></app-apply-now-pending> -->
<!-- <app-approved></app-approved>  -->
<!-- <app-apply-now-pending></app-apply-now-pending> -->
<!-- <app-credit-information></app-credit-information> -->
<!-- <app-approved></app-approved>  -->
    <!-- <app-login></app-login> -->
<!-- <app-homepage-upper></app-homepage-upper>  -->
<!-- <app-homeupperpage></app-homeupperpage> -->
<!-- <app-approved></app-approved> -->
<!-- <app-login></app-login> -->
<!-- <app-rm-car-collec></app-rm-car-collec> -->
<!-- <app-workspace></app-workspace> -->
<!-- <app-how-it-works></app-how-it-works> -->
<!-- <app-apply-now-flow1></app-apply-now-flow1> -->