<!-- <p>how-it-works works!</p> -->
<div class="container top-navbar">
    <app-navbar [navtheme]="'whitetheme'" style="width: 100%;"></app-navbar>
</div>
<div class="part2">
    <div class="howItWorks">How it works</div><br>
    <div class="highPerform">A high-performing web-based truck buying system</div>

    <div class="container imageContainer">
        <div class="row">
            <div class="col col-width">
                <div class="shadow-box">
                    <img width="66" height="66" src="../../assets/Group 1000006783.jpg">
                </div>
                <div class="browsSelect">Browse and Select</div>
                <div class="box-text">
                    Get all the details you need about the truck at one place. Explore the range of "Safe & Luxury Trucks", color option,
                     variants, vehicle demo & download the brochures.</div>
            </div>

            <div class="col">
                <div class="vectorImage-main">
                    <img class="vectorImage" src="../../assets/Vector 6.jpg">
                </div>
            </div>
            <div class="col col-width">
                <div class="shadow-box">
                    <img width="66" height="66" src="../../assets/ant-design_calendar-filled.jpg">
                </div>
                <div class="browsSelect"> Book and Confirm </div>
                <!-- <div class="browsSelect">Book and Confirm</div> -->
                <div class="box-text">
                    Book your selected truck, variant & color option. 
                    Choose vehicle finance package that you are completely 
                    comfortable with, one that suits your budget and your lifestyle.

 
                </div>
            </div>
            <div class="col">
                <div class="vectorImage-main">
                    <img class="vectorImage" src="../../assets/Vector 6.jpg">
                </div>
            </div>
            <div class="col col-width">
                <div class="shadow-box">
                    <img width="80" height="60" src="../../assets/truckicon.png">
                </div>
                <div class="browsSelect">Enjoy your ride</div>
                <div class="box-text">
                    Pick up your truck at selected Dealers outlet or have it Delivered to your home. It's that Simple :)</div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="rectangleImage">
    <img src="../../assets/Rectangle.png">
</div> -->
<div class="rectViewAll" style="margin: 50px 0;">
    <div class="container" style="margin-bottom: 30px;">
        <div class="brands-view-all">
            <div class="selectByBrand">Select by Brands</div>
            <div class="viewAll"> View all</div>
            <div class="rightArrowIcon">
                <img src="../../assets/arrow-right (1).png">
            </div>
        </div>
        <div class="row align-items-end car-types">
            <div class="col row-data">
                <img src="../../assets/Truck-Logos/brand4.png" alt="nt">
                <p>Dynacraft</p>
            </div>
            <div class="col row-data">
                <img src="../../assets/Truck-Logos/brand3.png" alt="nt">
                <p>DAF Trucks</p>
            </div>
            <div class="col row-data">
                <img src="../../assets/Truck-Logos/brand2.png" alt="nt">
                <p>Kenworth</p>
            </div>
            <div class="col row-data">
                <img src="../../assets/Truck-Logos/brand1.png" alt="nt">
                <p>Leyland</p>
            </div>
            <div class="col row-data">
                <img src="../../assets/Truck-Logos/peterbilt.png" alt="nt">
                <p>Peterbilt</p>
            </div>
            <!-- <div class="col row-data">
                <img src="..\assets\Nissan.png" alt="nt">
                <p>Nissan</p>
            </div> -->
        </div>
        <!-- <div class="row align-items-end car-types my-3">
            <div class="col row-data">
                <img src="../../assets/Chevrolet1 (1).png" alt="nt">
                <p>Chevrolet </p>
            </div>
            <div class="col row-data">
                <img src="..\assets\bmw_logo.png" alt="nt">
                <p>BMW</p>
            </div>
            <div class="col row-data">
                <img src="..\assets\mercedes_benz.png" alt="nt">
                <p>Mercedes Benz</p>
            </div>
            <div class="col row-data">
                <img src="..\assets\Hyundai.png" alt="nt">
                <p>Hyundai</p>
            </div>
            <div class="col row-data">
                <img src="..\assets\Audi.png" alt="nt">
                <p>Audi</p>
            </div>
            <div class="col row-data">
                <img src="..\assets\Kia.png" alt="nt">
                <p>Kia</p>
            </div>
        </div> -->
    </div>
    <div class="container ">
        <div class="brands-view-all">
            <div class="selectByBrand">Select by Body Type</div>
            <div class="viewAll"> View all</div>
            <div class="rightArrowIcon">
                <img src="../../assets/arrow-right (1).png">
            </div>
        </div>
        <div class="row align-items-end car-types">
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/5.png" alt="nt">
                <p>Car Carrier Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/1.png" alt="nt">
                <p>Flatbed Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/3.png" alt="nt">
                <p>Dump Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/2.png" alt="nt">
                <p>Livestock Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/7.png" alt="nt">
                <p>Panel Truck</p>
            </div>
           
        </div>
        
        <div class="row align-items-end car-types my-3">
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/8.png" alt="nt">
                <p>Chiller Truck</p>
            </div>
           
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/6.png" alt="nt">
                <p>Tanker Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/9.png" alt="nt">
                <p>Multi-Wheeler Truck</p>
            </div>
            <div class="col row-data car-row">
                <img src="../../assets/Truck-Logos/10.png" alt="nt">
                <p>Tow Truck</p>
            </div>
            <!-- <div class="col row-data">
                <img src="..\assets\crossover-red 1.png" alt="nt">
                <p>Tow Truck</p>
            </div> -->
        </div>
    </div>
</div>

<app-home-car-collec></app-home-car-collec>