<!-- <div class = "main">  -->

    <!-- <div class="sidebar">

       

        <ul class="ul1">

          <li style="margin-top: 25px;"> <img src="..\assets\Home.png" alt="Icon 1" style="width:20px;height:12px;"> <a

             class="anchor" href="#">Home</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Vector.png" alt="Icon 1" style="width:20px;height:12px;"> <a

            class="anchor" routerLink="/main-profile" href="#">Profile</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\security-user.png" alt="Icon 1" style="width:20px;height:15px;">

            <a class="anchor"href="#">RM Homepage</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Ticket.png" alt="Icon 1" style="width:20px;height:15px;"> <a

            class="anchor" href="#">Messages</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Document.png" alt="Icon 1" style="width:20px;height:15px;"> <a

            class="anchor"href="#">Purchases</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Calendar.png" alt="Icon 1" style="width:20px;height:15px;"> <a

            class="anchor" href="#">Returns</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Activity.png" alt="Icon 1" style="width:20px;height:15px;"> <a

            class="anchor" href="#">Gallery</a></li>

          <li style="margin-top: 20px;"><img src="..\assets\Setting.png" alt="Icon 1" style="width:20px;height:15px;"><a

            class="anchor"  routerLink="/profile-settings" href="#">Settings</a></li>

     

        </ul>

      </div> -->
      <app-navbar-after-home-page  [navtheme]="'blacktheme'"></app-navbar-after-home-page>
      <div class="backgroundImage">
        <!-- <app-navbar-after-home-page [navtheme]="'blacktheme'"></app-navbar-after-home-page> -->

        <div style="padding-top: 50px;">
    
            <div>
    
                <h1 class="brandNameText">MERCEDES</h1>
    
            </div>
    
     
    
            <div class="twoDivFirst">
    
                <div class="twoDivSecond">
    
                    <div class="twoDivThird">2</div>
    
                </div>
    
                <div class="twoDivFourth">It has survived not only five centuries, but also the leap into electronic
    
                    typesetting, remaining essentially unchanged.</div>
    
                </div>
    
     
    
            <div class="firstDiv">
    
                <div class="secondDiv">
    
                    <div class="thirdDiv">1</div>
    
                </div>
    
     
    
                <div class="fourthDiv">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
    
                    unknown prVerdana took a galley of type and scrambled it to make a type specimen book.</div>
    
            </div>
    
     
    
            <div class="threeDivFrist">
    
                <div class="threeDivSecond">
    
                    <div class="threeDivThird">3</div>
    
                </div>
    
                <div class="threeDivFourth">In addition to speeds, you'll also choose between manual and automatic
    
                    transmissions.</div>
    
            </div>
    
        </div>
    
        <div class="find-more-button-main">
    
            <div class="rounded border border-white flex-column justify-content-start align-items-start findMoreFirstDiv">
    
                <div class="w-100 h-100 findMoreSecondDiv"></div>
    
                <div class="d-inline-flex justify-content-center align-items-center gap-2 pad-bot">
    
                    <div class="text-white custom-font-size fs-5 fw-500">Find out more</div>
    
                </div>
    
            </div>
    
            <div class="fourDotsFirst">
    
                <div class="fourDotsSecond"></div>
    
                <div class="fourDotsThird"></div>
    
                <div class="fourDotsFourth"></div>
    
                <div class="fourDotsFifth"></div>
    
            </div>
    
        </div>
    
    </div>
    
    <!-- </div>  -->